In [1]:
# Đọc dữ liệu từ tập tin CSV
import pandas as pd
# Đường dẫn đến tập tin CSV
file_path = 'C:\\Users\\LG\\Desktop\\BD_DQ\\data_dotquy.csv'
#file_path = 'C:\\Users\\Admin\\Desktop\\BD_DQ\\data_dotquy.csv'
# Đọc dữ liệu từ CSV vào DataFrame
df = pd.read_csv(file_path)
# Hiển thị DataFrame trong VS Code
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

LÀM SẠCH và CHUẨN HÓA DL
- 1 giới tính: loại other
- 2 tuổi: Loại số thực ( vd: 0.1 , 1.56) rồi dùng kỹ thuật Age Grouping
- 3 Đã kết hôn: chuyển về 0 và một
- 4 kiểu làm việc(work_type)
    + kỹ thuật Hashing Encoding
    + kỹ thuật One-Hot Encoding
- 5 vùng sống: chuyển về 0 và một
- 6 BMI  
    + Loại bỏ các hàng hoặc cột có N/A rồi dùng kỹ thuật Binary Encoding
    + dùng kỹ thuật Simple Imputation rồi dùng kỹ thuật tiếp Min-Max Scaling
- 7 smoking_status
  + Loại bỏ các hàng hoặc cột có Unknown rồi dùng kỹ thuật tiếp Min-Max Scaling
  + kỹ thuật Frequency Encoding
- 8 avg_glucose_level (mg/dL)
    DÙNG KỸ THUẬT: Min-Max Scaling
  ******ĐIỀU KIỆN LÀ******
    Người bình thường:
     < 140
    Người Bị tiểu đường:
      >=140

In [2]:
#Hien
#Kiem tra trung lap
duplicated_rows = df[df.duplicated(subset='id')]
print("So luong du lieu trung lap la:" , len(duplicated_rows))

df = df.dropna()
df = df.applymap(lambda x: x.replace("\n"," ") if isinstance(x, str) else x )

So luong du lieu trung lap la: 0

C:\Users\LG\AppData\Local\Temp\ipykernel_6344\2419221204.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("\n"," ") if isinstance(x, str) else x )

In [3]:
#hien
#Kiểm tra dữ liệu có bị thiếu
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [4]:
#Hien
# Dung knn dien vao BMI
# Tạo đối tượng KNN Imputer với số lượng hàng xóm là 3
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)

# Áp dụng imputer cho DataFrame, chỉ chọn các cột số
df[['age', 'bmi']] = imputer.fit_transform(df[['age', 'bmi']])

# Hiển thị DataFrame sau khi điền dữ liệu
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
5     56669    Male  81.0             0              0          Yes
...     ...     ...   ...           ...            ...          ...
5104  14180  Female  13.0             0              0           No
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
5           Private          Urban             186.21  29.0  formerly smoked
...             ...            ...                ...   ...              ...
5104       children          Rural             103.08  18.6          Unknown
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
2          1
3          1
4          1
5          1
...      ...
5104       0
5106       0
5107       0
5108       0
5109       0

[4909 rows x 12 columns]

In [5]:
# Kiểm tra lại đã dủ dữ liệu chưa
df['bmi'].isnull().sum()
df['bmi']

0       36.6
2       32.5
3       34.4
4       24.0
5       29.0
        ...
5104    18.6
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 4909, dtype: float64

In [6]:
#Hien
# Xóa cột mã định danh
df  = df.drop(columns=['id'])
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [7]:
#Chau_Muc1
#Loại bỏ giới tính mang giá trị Other
mask = df['gender'].isin(['Male', 'Female'])
df = df[mask]
print(df)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
5       Male  81.0             0              0          Yes        Private
...      ...   ...           ...            ...          ...            ...
5104  Female  13.0             0              0           No       children
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
5             Urban             186.21  29.0  formerly smoked       1
...             ...                ...   ...              ...     ...
5104          Rural             103.08  18.6          Unknown       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[4908 rows x 11 columns]

In [8]:
#Chau_Muc1
# gender: female 1 male 0
df.loc[:, 'gender'] = df['gender'].replace({'Female': 1, 'Male': 0})
print(df)

     gender   age  hypertension  heart_disease ever_married      work_type  \
0         0  67.0             0              1          Yes        Private
2         0  80.0             0              1          Yes        Private
3         1  49.0             0              0          Yes        Private
4         1  79.0             1              0          Yes  Self-employed
5         0  81.0             0              0          Yes        Private
...     ...   ...           ...            ...          ...            ...
5104      1  13.0             0              0           No       children
5106      1  81.0             0              0          Yes  Self-employed
5107      1  35.0             0              0          Yes  Self-employed
5108      0  51.0             0              0          Yes        Private
5109      1  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
5             Urban             186.21  29.0  formerly smoked       1
...             ...                ...   ...              ...     ...
5104          Rural             103.08  18.6          Unknown       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[4908 rows x 11 columns]

C:\Users\LG\AppData\Local\Temp\ipykernel_6344\1985870924.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'gender'] = df['gender'].replace({'Female': 1, 'Male': 0})

In [9]:
#Chau_Muc5(Phần này phân công cho GIANG)
# Residence_type: urban 1 rural 0(can note)
#df.loc[:, 'Residence_type'] = df['Residence_type'].replace({'Urban': 1, 'Rural': 0})

In [10]:
#Chau_Muc4(Phần này lấy code của bạn GIANG)
#chuẩn hóa dữ liệu field work_type theo kỹ thuật label encoding
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#df.loc[:, 'work_type'] = le.fit_transform(df['work_type'])
#print(df)

In [11]:
#Chi_Muc2
# Kiểm tra xem tuổi có phải là số nguyên hay không
df['Is_Whole_Number'] = df['age'].apply(lambda x: x.is_integer())

# Lọc các hàng mà tuổi không phải là số thực (chỉ giữ lại số nguyên)
df = df[df['Is_Whole_Number']]

# Xóa cột tạm thời 'Is_Whole_Number'
df = df.drop(columns=['Is_Whole_Number'])

df

C:\Users\LG\AppData\Local\Temp\ipykernel_6344\1090353858.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Is_Whole_Number'] = df['age'].apply(lambda x: x.is_integer())

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,1,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,0,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,1,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,1,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [12]:
#Chi_Muc2
# Chuẩn hóa bằng Min-Max Scaling
# Calculate min and max values
X_min = min(df['age'])
X_max = max(df['age'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['age']]

# Gán lại dữ liệu vào cột ['avg_glucose_level']
df['age'] = scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,0,0.975309,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,1,0.592593,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1,0.962963,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,0,0.987654,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.148148,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,1,0.987654,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,0.419753,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,0.617284,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,0.530864,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [13]:
#Chi(điều chỉnh tuổi về min max)
# Định nghĩa các khoảng tuổi và các nhãn cho các nhóm tuổi
#bins = [0, 18, 35, 60, 100]
#labels = ['0', '1', '2', '3']

# Chia cột "Age" thành các nhóm tuổi
#df['Age Group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

#df

In [14]:
#Chi_Muc3
#Chuyen trạng thái đã kết hôn về dạng 1 và chưa kết hôn về dạng 0
df['ever_married'] = df['ever_married'].map({'Yes': 1, 'No': 0})
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
2,0,0.975309,0,1,1,Private,Rural,105.92,32.5,never smoked,1
3,1,0.592593,0,0,1,Private,Urban,171.23,34.4,smokes,1
4,1,0.962963,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
5,0,0.987654,0,0,1,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.148148,0,0,0,children,Rural,103.08,18.6,Unknown,0
5106,1,0.987654,0,0,1,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,0.419753,0,0,1,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,0.617284,0,0,1,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,0.530864,0,0,1,Govt_job,Urban,85.28,26.2,Unknown,0

In [15]:
#Giang_Muc4(Gán thẳng giá trị vào work_type)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['work_type'] = label_encoder.fit_transform(df['work_type'])

# sử dụng chuẩn hóa bằng Min-Max Scaling chuan hoa df['work_type'] dang (0 1 2 3 4)
# Calculate min and max values
X_min = min(df['work_type'])
X_max = max(df['work_type'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['work_type']]
scaled_data
# Tạo ra trường dữ liệu mới work_type_2
df['work_type_2'] =scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_2
0,0,0.814815,0,1,1,2,Urban,228.69,36.6,formerly smoked,1,0.50
2,0,0.975309,0,1,1,2,Rural,105.92,32.5,never smoked,1,0.50
3,1,0.592593,0,0,1,2,Urban,171.23,34.4,smokes,1,0.50
4,1,0.962963,1,0,1,3,Rural,174.12,24.0,never smoked,1,0.75
5,0,0.987654,0,0,1,2,Urban,186.21,29.0,formerly smoked,1,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.148148,0,0,0,4,Rural,103.08,18.6,Unknown,0,1.00
5106,1,0.987654,0,0,1,3,Urban,125.20,40.0,never smoked,0,0.75
5107,1,0.419753,0,0,1,3,Rural,82.99,30.6,never smoked,0,0.75
5108,0,0.617284,0,0,1,2,Rural,166.29,25.6,formerly smoked,0,0.50
5109,1,0.530864,0,0,1,0,Urban,85.28,26.2,Unknown,0,0.00

In [16]:
#Giang_Muc5
# Chuyen trạng thái thành thị về dạng 1 và nông thôn về dạng 0
df['Residence_type']=df['Residence_type'].replace({'Urban':1,'Rural':0})
mask = df['gender'] != 'Other'
df_filtered = df[mask]
print(df_filtered)

     gender       age  hypertension  heart_disease  ever_married  work_type  \
0         0  0.814815             0              1             1          2
2         0  0.975309             0              1             1          2
3         1  0.592593             0              0             1          2
4         1  0.962963             1              0             1          3
5         0  0.987654             0              0             1          2
...     ...       ...           ...            ...           ...        ...
5104      1  0.148148             0              0             0          4
5106      1  0.987654             0              0             1          3
5107      1  0.419753             0              0             1          3
5108      0  0.617284             0              0             1          2
5109      1  0.530864             0              0             1          0

      Residence_type  avg_glucose_level   bmi   smoking_status  stroke  \
0                  1             228.69  36.6  formerly smoked       1
2                  0             105.92  32.5     never smoked       1
3                  1             171.23  34.4           smokes       1
4                  0             174.12  24.0     never smoked       1
5                  1             186.21  29.0  formerly smoked       1
...              ...                ...   ...              ...     ...
5104               0             103.08  18.6          Unknown       0
5106               1             125.20  40.0     never smoked       0
5107               0              82.99  30.6     never smoked       0
5108               0             166.29  25.6  formerly smoked       0
5109               1              85.28  26.2          Unknown       0

      work_type_2
0            0.50
2            0.50
3            0.50
4            0.75
5            0.50
...           ...
5104         1.00
5106         0.75
5107         0.75
5108         0.50
5109         0.00

[4799 rows x 12 columns]

C:\Users\LG\AppData\Local\Temp\ipykernel_6344\3576080175.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Residence_type']=df['Residence_type'].replace({'Urban':1,'Rural':0})

In [17]:
#Hien_Mục6
# chuẩn hóa bằng Min-Max Scaling
glucose_values = df['avg_glucose_level']

# Calculate min and max values
X_min = min(df['avg_glucose_level'])
X_max = max(df['avg_glucose_level'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['avg_glucose_level']]

# Gán lại dữ liệu vào cột ['avg_glucose_level']
df['avg_glucose_level'] = scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_2
0,0,0.814815,0,1,1,2,1,0.801265,36.6,formerly smoked,1,0.50
2,0,0.975309,0,1,1,2,0,0.234512,32.5,never smoked,1,0.50
3,1,0.592593,0,0,1,2,1,0.536008,34.4,smokes,1,0.50
4,1,0.962963,1,0,1,3,0,0.549349,24.0,never smoked,1,0.75
5,0,0.987654,0,0,1,2,1,0.605161,29.0,formerly smoked,1,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.148148,0,0,0,4,0,0.221402,18.6,Unknown,0,1.00
5106,1,0.987654,0,0,1,3,1,0.323516,40.0,never smoked,0,0.75
5107,1,0.419753,0,0,1,3,0,0.128658,30.6,never smoked,0,0.75
5108,0,0.617284,0,0,1,2,0,0.513203,25.6,formerly smoked,0,0.50
5109,1,0.530864,0,0,1,0,1,0.139230,26.2,Unknown,0,0.00

In [18]:
#Hoang_Muc7
# Dữ liệu ban đầu
data = df['bmi']

# Min-Max Scaling
data_min = data.min()
data_max = data.max()

scaled_data = (data - data_min) / (data_max - data_min)

# Hiển thị dữ liệu đã chuẩn hóa
print(scaled_data)

0       0.293163
2       0.245655
3       0.267671
4       0.147161
5       0.205098
          ...
5104    0.084589
5106    0.332561
5107    0.223638
5108    0.165701
5109    0.172654
Name: bmi, Length: 4799, dtype: float64

In [19]:
#Hoang_Muc7
df['bmi']=scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_2
0,0,0.814815,0,1,1,2,1,0.801265,0.293163,formerly smoked,1,0.50
2,0,0.975309,0,1,1,2,0,0.234512,0.245655,never smoked,1,0.50
3,1,0.592593,0,0,1,2,1,0.536008,0.267671,smokes,1,0.50
4,1,0.962963,1,0,1,3,0,0.549349,0.147161,never smoked,1,0.75
5,0,0.987654,0,0,1,2,1,0.605161,0.205098,formerly smoked,1,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.148148,0,0,0,4,0,0.221402,0.084589,Unknown,0,1.00
5106,1,0.987654,0,0,1,3,1,0.323516,0.332561,never smoked,0,0.75
5107,1,0.419753,0,0,1,3,0,0.128658,0.223638,never smoked,0,0.75
5108,0,0.617284,0,0,1,2,0,0.513203,0.165701,formerly smoked,0,0.50
5109,1,0.530864,0,0,1,0,1,0.139230,0.172654,Unknown,0,0.00

In [20]:
#Hoang_Muc7
# Dữ liệu ban đầu
data = df['bmi']

# Chuyển đổi dữ liệu thành DataFrame
dff = pd.DataFrame(data, columns=['bmi'])
dff

           bmi
0     0.293163
2     0.245655
3     0.267671
4     0.147161
5     0.205098
...        ...
5104  0.084589
5106  0.332561
5107  0.223638
5108  0.165701
5109  0.172654

[4799 rows x 1 columns]

In [21]:
#Hoang_Muc7
#import numpy as np
#conditions = [
   # (dff['bmi'] < 18.5),
  #  (dff['bmi'] >= 18.5) & (dff['bmi'] <= 25),
    #(dff['bmi'] > 25)
#]

# Các giá trị tương ứng cho mỗi điều kiện
#df['underweight'] = np.where(dff['bmi'] < 18.5, 1, 0)
#df['normal'] = np.where((dff['bmi'] >= 18.5) & (dff['bmi'] <= 25), 1, 0)
#df['overweight'] = np.where(dff['bmi'] > 25, 1, 0)

# Hiển thị DataFrame với dữ liệu đã chuẩn hóa
#df

In [22]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_2
0,0,0.814815,0,1,1,2,1,0.801265,0.293163,formerly smoked,1,0.50
2,0,0.975309,0,1,1,2,0,0.234512,0.245655,never smoked,1,0.50
3,1,0.592593,0,0,1,2,1,0.536008,0.267671,smokes,1,0.50
4,1,0.962963,1,0,1,3,0,0.549349,0.147161,never smoked,1,0.75
5,0,0.987654,0,0,1,2,1,0.605161,0.205098,formerly smoked,1,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.148148,0,0,0,4,0,0.221402,0.084589,Unknown,0,1.00
5106,1,0.987654,0,0,1,3,1,0.323516,0.332561,never smoked,0,0.75
5107,1,0.419753,0,0,1,3,0,0.128658,0.223638,never smoked,0,0.75
5108,0,0.617284,0,0,1,2,0,0.513203,0.165701,formerly smoked,0,0.50
5109,1,0.530864,0,0,1,0,1,0.139230,0.172654,Unknown,0,0.00

In [23]:
#Binh_Muc8
df.dropna(how='all', inplace=True)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_2
0,0,0.814815,0,1,1,2,1,0.801265,0.293163,formerly smoked,1,0.50
2,0,0.975309,0,1,1,2,0,0.234512,0.245655,never smoked,1,0.50
3,1,0.592593,0,0,1,2,1,0.536008,0.267671,smokes,1,0.50
4,1,0.962963,1,0,1,3,0,0.549349,0.147161,never smoked,1,0.75
5,0,0.987654,0,0,1,2,1,0.605161,0.205098,formerly smoked,1,0.50

In [24]:
#Binh_Muc8
df = df[df['smoking_status'] != 'Unknown']
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_2
0,0,0.814815,0,1,1,2,1,0.801265,0.293163,formerly smoked,1,0.50
2,0,0.975309,0,1,1,2,0,0.234512,0.245655,never smoked,1,0.50
3,1,0.592593,0,0,1,2,1,0.536008,0.267671,smokes,1,0.50
4,1,0.962963,1,0,1,3,0,0.549349,0.147161,never smoked,1,0.75
5,0,0.987654,0,0,1,2,1,0.605161,0.205098,formerly smoked,1,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
5100,0,1.000000,1,0,1,3,0,0.077786,0.196987,never smoked,0,0.75
5102,1,0.691358,0,0,1,2,0,0.105300,0.120510,never smoked,0,0.50
5106,1,0.987654,0,0,1,3,1,0.323516,0.332561,never smoked,0,0.75
5107,1,0.419753,0,0,1,3,0,0.128658,0.223638,never smoked,0,0.75
5108,0,0.617284,0,0,1,2,0,0.513203,0.165701,formerly smoked,0,0.50

In [25]:
#Binh_Muc8
map_smoking_status = {
    'never smoked': 0,
    'formerly smoked': 0.5,
    'smokes': 1
}

df['smoking_status'] = df['smoking_status'].map(map_smoking_status)

print(df)

     gender       age  hypertension  heart_disease  ever_married  work_type  \
0         0  0.814815             0              1             1          2
2         0  0.975309             0              1             1          2
3         1  0.592593             0              0             1          2
4         1  0.962963             1              0             1          3
5         0  0.987654             0              0             1          2
...     ...       ...           ...            ...           ...        ...
5100      0  1.000000             1              0             1          3
5102      1  0.691358             0              0             1          2
5106      1  0.987654             0              0             1          3
5107      1  0.419753             0              0             1          3
5108      0  0.617284             0              0             1          2

      Residence_type  avg_glucose_level       bmi  smoking_status  stroke  \
0                  1           0.801265  0.293163             0.5       1
2                  0           0.234512  0.245655             0.0       1
3                  1           0.536008  0.267671             1.0       1
4                  0           0.549349  0.147161             0.0       1
5                  1           0.605161  0.205098             0.5       1
...              ...                ...       ...             ...     ...
5100               0           0.077786  0.196987             0.0       0
5102               0           0.105300  0.120510             0.0       0
5106               1           0.323516  0.332561             0.0       0
5107               0           0.128658  0.223638             0.0       0
5108               0           0.513203  0.165701             0.5       0

      work_type_2
0            0.50
2            0.50
3            0.50
4            0.75
5            0.50
...           ...
5100         0.75
5102         0.50
5106         0.75
5107         0.75
5108         0.50

[3425 rows x 12 columns]

C:\Users\LG\AppData\Local\Temp\ipykernel_6344\362241101.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['smoking_status'] = df['smoking_status'].map(map_smoking_status)

In [26]:
#Chau_muc2
#chia bộ dữ liệu thành tập huấn luyện và tập kiểm tra.
from sklearn.model_selection import train_test_split
#import lớp DecisionTreeClassifier từ thư viện scikit-learn. Đại diện cho mô hình cây quyết định.
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
# Chọn các cột làm đặc trưng và nhãn x: đặc trưng y là nhãn
X = df[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']]
y = df['stroke']
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
#loại bỏ cột stroke khỏi df, loại bỏ cột axis=1 nếu axis=0 thì loại bỏ hàng
x=df.drop(['stroke'],axis=1)
#tạo series y chứa các giá trị cột stroke trong df
y=df['stroke']
#tạo mô hình cây quyết định
model=DecisionTreeClassifier()
#huấn luyện mô hình
model.fit(X_train,y_train)
#Dự đoán trên tập kiểm tra
y_pred =model.predict(X_test)
#Đánh giá mô hình
print(classification_report(y_test,y_pred))
print("Độ chính xác của mô hình decision tree là: ", model.score(X_test, y_test)*100,"%")

              precision    recall  f1-score   support

           0       0.96      0.97      0.96       653
           1       0.20      0.16      0.18        32

    accuracy                           0.93       685
   macro avg       0.58      0.56      0.57       685
weighted avg       0.92      0.93      0.93       685

Độ chính xác của mô hình decision tree là:  93.13868613138686 %

In [ ]:
#Giang_Muc2

#import thu vien
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
#check for missing values
print(df.isnull().sum())

In [ ]:

#Fearure selection
features = ['gender','age', 'hypertension', 'heart_disease', 'ever_married','work_type','Residence_type', 'avg_glucose_level','bmi','smoking_status','work_type_2']
X = df[features]
y = df['stroke']

In [ ]:
#Split the data into training and testing sets (80% train/ 20%test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#Train the Decision Tree Classifier
model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)

In [ ]:
# Make predictions on the test set 
y_pred = model.predict(X_test)

In [ ]:
#Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')
print('Classification Report: ')
print(classification_report(y_test, y_pred))
print('Confusion Matrix: ')
print(confusion_matrix(y_test, y_pred))

In [ ]:
# Sử dụng mô hình 
new_patient = [[1,0.69,0,0,1,2,1,0.5,0.29,0.5,1]]
predicted_label = model.predict(new_patient)
if predicted_label == 0:
    print("ban khong mac benh")
else: 
    print("chia buon cung ban")