In [201]:

# Đọc dữ liệu từ tập tin CSV
import pandas as pd
# Đường dẫn đến tập tin CSV
#file_path = 'C:\\Users\\LG\\Desktop\\BD_DQ\\data_dotquy.csv'
file_path = 'C:\\Users\\ACER\\Desktop\\BD_DQ\\data_dotquy.csv'
# Đọc dữ liệu từ CSV vào DataFrame
df = pd.read_csv(file_path)
# Hiển thị DataFrame trong VS Code
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

LÀM SẠCH và CHUẨN HÓA DL
- 1 giới tính: loại other
- 2 tuổi: Loại số thực ( vd: 0.1 , 1.56) rồi dùng kỹ thuật Age Grouping
- 3 Đã kết hôn: chuyển về 0 và một
- 4 kiểu làm việc(work_type)
    + kỹ thuật Hashing Encoding
    + kỹ thuật One-Hot Encoding
- 5 vùng sống: chuyển về 0 và một
- 6 BMI  
    + Loại bỏ các hàng hoặc cột có N/A rồi dùng kỹ thuật Binary Encoding
    + dùng kỹ thuật Simple Imputation rồi dùng kỹ thuật tiếp Min-Max Scaling
- 7 smoking_status
  + Loại bỏ các hàng hoặc cột có Unknown rồi dùng kỹ thuật tiếp Min-Max Scaling
  + kỹ thuật Frequency Encoding
- 8 avg_glucose_level (mg/dL)
    DÙNG KỸ THUẬT: Min-Max Scaling
  ******ĐIỀU KIỆN LÀ******
    Người bình thường:
     < 140
    Người Bị tiểu đường:
      >=140

In [202]:
#Hien
#Kiem tra trung lap
duplicated_rows = df[df.duplicated(subset='id')]
print("So luong du lieu trung lap la:" , len(duplicated_rows))

#df = df.dropna()
#df = df.applymap(lambda x: x.replace("\n"," ") if isinstance(x, str) else x )

So luong du lieu trung lap la: 0

In [203]:
#hien
#Kiểm tra dữ liệu có bị thiếu
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [204]:
#Hien
# dùng knn điền dữ liệu thiếu vào BMI
# Tạo đối tượng KNN Imputer với số lượng hàng xóm là 3
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)

# Áp dụng imputer cho DataFrame, chỉ chọn các cột số
df[['age', 'bmi']] = imputer.fit_transform(df[['age', 'bmi']])

# Hiển thị DataFrame sau khi điền dữ liệu
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21  27.8     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75  28.6     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [205]:
# Kiểm tra lại đã dủ dữ liệu chưa
df['bmi'].isnull().sum()
df['bmi']

0       36.6
1       27.8
2       32.5
3       34.4
4       24.0
        ...
5105    28.6
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 5110, dtype: float64

In [206]:
#Hien
# Xóa cột mã định danh
df  = df.drop(columns=['id'])
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,27.8,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.6,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [207]:
#Chau_Muc1
#Loại bỏ giới tính mang giá trị Other
mask = df['gender'].isin(['Male', 'Female'])
df = df[mask]
print(df)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21  27.8     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5105          Urban              83.75  28.6     never smoked       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[5109 rows x 11 columns]

In [208]:
#Chau_Muc1
# gender: female 1 male 0
df.loc[:, 'gender'] = df['gender'].replace({'Female': 1, 'Male': 0})
print(df)

     gender   age  hypertension  heart_disease ever_married      work_type  \
0         0  67.0             0              1          Yes        Private
1         1  61.0             0              0          Yes  Self-employed
2         0  80.0             0              1          Yes        Private
3         1  49.0             0              0          Yes        Private
4         1  79.0             1              0          Yes  Self-employed
...     ...   ...           ...            ...          ...            ...
5105      1  80.0             1              0          Yes        Private
5106      1  81.0             0              0          Yes  Self-employed
5107      1  35.0             0              0          Yes  Self-employed
5108      0  51.0             0              0          Yes        Private
5109      1  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21  27.8     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5105          Urban              83.75  28.6     never smoked       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[5109 rows x 11 columns]

C:\Users\ACER\AppData\Local\Temp\ipykernel_15396\1985870924.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'gender'] = df['gender'].replace({'Female': 1, 'Male': 0})

In [209]:
#Chau_Muc5(Phần này phân công cho GIANG)
# Residence_type: urban 1 rural 0(can note)
#df.loc[:, 'Residence_type'] = df['Residence_type'].replace({'Urban': 1, 'Rural': 0})

In [210]:
#Chau_Muc4(Phần này lấy code của bạn GIANG)
#chuẩn hóa dữ liệu field work_type theo kỹ thuật label encoding
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#df.loc[:, 'work_type'] = le.fit_transform(df['work_type'])
#print(df)

In [211]:
#Chi_Muc2
# Kiểm tra xem tuổi có phải là số nguyên hay không
df['Is_Whole_Number'] = df['age'].apply(lambda x: x.is_integer())

# Lọc các hàng mà tuổi không phải là số thực (chỉ giữ lại số nguyên)
df = df[df['Is_Whole_Number']]

# Xóa cột tạm thời 'Is_Whole_Number'
df = df.drop(columns=['Is_Whole_Number'])

df

C:\Users\ACER\AppData\Local\Temp\ipykernel_15396\1090353858.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Is_Whole_Number'] = df['age'].apply(lambda x: x.is_integer())

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,1,61.0,0,0,Yes,Self-employed,Rural,202.21,27.8,never smoked,1
2,0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,1,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,Yes,Private,Urban,83.75,28.6,never smoked,0
5106,1,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [212]:
#Chi_Muc2
# Chuẩn hóa bằng Min-Max Scaling
# Calculate min and max values
X_min = min(df['age'])
X_max = max(df['age'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['age']]

# Gán lại dữ liệu vào cột ['avg_glucose_level']
df['age'] = scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,1,0.740741,0,0,Yes,Self-employed,Rural,202.21,27.8,never smoked,1
2,0,0.975309,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,1,0.592593,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1,0.962963,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,Yes,Private,Urban,83.75,28.6,never smoked,0
5106,1,0.987654,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,0.419753,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,0.617284,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,0.530864,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [213]:
#Chi(điều chỉnh tuổi về min max)
# Định nghĩa các khoảng tuổi và các nhãn cho các nhóm tuổi
#bins = [0, 18, 35, 60, 100]
#labels = ['0', '1', '2', '3']

# Chia cột "Age" thành các nhóm tuổi
#df['Age Group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

#df

In [214]:
#Chi_Muc3
#Chuyen trạng thái đã kết hôn về dạng 1 và chưa kết hôn về dạng 0
df['ever_married'] = df['ever_married'].map({'Yes': 1, 'No': 0})
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,1,0.740741,0,0,1,Self-employed,Rural,202.21,27.8,never smoked,1
2,0,0.975309,0,1,1,Private,Rural,105.92,32.5,never smoked,1
3,1,0.592593,0,0,1,Private,Urban,171.23,34.4,smokes,1
4,1,0.962963,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,1,Private,Urban,83.75,28.6,never smoked,0
5106,1,0.987654,0,0,1,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,0.419753,0,0,1,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,0.617284,0,0,1,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,0.530864,0,0,1,Govt_job,Urban,85.28,26.2,Unknown,0

In [215]:
#Giang_Muc4(Gán thẳng giá trị vào work_type)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['work_type'] = label_encoder.fit_transform(df['work_type'])

# sử dụng chuẩn hóa bằng Min-Max Scaling chuan hoa df['work_type'] dang (0 1 2 3 4)
# Calculate min and max values
X_min = min(df['work_type'])
X_max = max(df['work_type'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['work_type']]
scaled_data
# Tạo ra trường dữ liệu mới work_type_2
df['work_type'] =scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,1,0.50,Urban,228.69,36.6,formerly smoked,1
1,1,0.740741,0,0,1,0.75,Rural,202.21,27.8,never smoked,1
2,0,0.975309,0,1,1,0.50,Rural,105.92,32.5,never smoked,1
3,1,0.592593,0,0,1,0.50,Urban,171.23,34.4,smokes,1
4,1,0.962963,1,0,1,0.75,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,1,0.50,Urban,83.75,28.6,never smoked,0
5106,1,0.987654,0,0,1,0.75,Urban,125.20,40.0,never smoked,0
5107,1,0.419753,0,0,1,0.75,Rural,82.99,30.6,never smoked,0
5108,0,0.617284,0,0,1,0.50,Rural,166.29,25.6,formerly smoked,0
5109,1,0.530864,0,0,1,0.00,Urban,85.28,26.2,Unknown,0

In [216]:
#Giang_Muc5
# Chuyen trạng thái thành thị về dạng 1 và nông thôn về dạng 0
df['Residence_type']=df['Residence_type'].replace({'Urban':1,'Rural':0})
mask = df['gender'] != 'Other'
df_filtered = df[mask]
print(df_filtered)

     gender       age  hypertension  heart_disease  ever_married  work_type  \
0         0  0.814815             0              1             1       0.50
1         1  0.740741             0              0             1       0.75
2         0  0.975309             0              1             1       0.50
3         1  0.592593             0              0             1       0.50
4         1  0.962963             1              0             1       0.75
...     ...       ...           ...            ...           ...        ...
5105      1  0.975309             1              0             1       0.50
5106      1  0.987654             0              0             1       0.75
5107      1  0.419753             0              0             1       0.75
5108      0  0.617284             0              0             1       0.50
5109      1  0.530864             0              0             1       0.00

      Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0                  1             228.69  36.6  formerly smoked       1
1                  0             202.21  27.8     never smoked       1
2                  0             105.92  32.5     never smoked       1
3                  1             171.23  34.4           smokes       1
4                  0             174.12  24.0     never smoked       1
...              ...                ...   ...              ...     ...
5105               1              83.75  28.6     never smoked       0
5106               1             125.20  40.0     never smoked       0
5107               0              82.99  30.6     never smoked       0
5108               0             166.29  25.6  formerly smoked       0
5109               1              85.28  26.2          Unknown       0

[4994 rows x 11 columns]

C:\Users\ACER\AppData\Local\Temp\ipykernel_15396\3576080175.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Residence_type']=df['Residence_type'].replace({'Urban':1,'Rural':0})

In [217]:
#Hien_Mục6
# chuẩn hóa bằng Min-Max Scaling
glucose_values = df['avg_glucose_level']

# Calculate min and max values
X_min = min(df['avg_glucose_level'])
X_max = max(df['avg_glucose_level'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['avg_glucose_level']]

# Gán lại dữ liệu vào cột ['avg_glucose_level']
df['avg_glucose_level'] = scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,1,0.50,1,0.801265,36.6,formerly smoked,1
1,1,0.740741,0,0,1,0.75,0,0.679023,27.8,never smoked,1
2,0,0.975309,0,1,1,0.50,0,0.234512,32.5,never smoked,1
3,1,0.592593,0,0,1,0.50,1,0.536008,34.4,smokes,1
4,1,0.962963,1,0,1,0.75,0,0.549349,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,1,0.50,1,0.132167,28.6,never smoked,0
5106,1,0.987654,0,0,1,0.75,1,0.323516,40.0,never smoked,0
5107,1,0.419753,0,0,1,0.75,0,0.128658,30.6,never smoked,0
5108,0,0.617284,0,0,1,0.50,0,0.513203,25.6,formerly smoked,0
5109,1,0.530864,0,0,1,0.00,1,0.139230,26.2,Unknown,0

In [218]:
#Hoang_Muc7
# Dữ liệu ban đầu
data = df['bmi']

# Min-Max Scaling
data_min = data.min()
data_max = data.max()

scaled_data = (data - data_min) / (data_max - data_min)

# Hiển thị dữ liệu đã chuẩn hóa
df['bmi'] = scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,1,0.50,1,0.801265,0.293163,formerly smoked,1
1,1,0.740741,0,0,1,0.75,0,0.679023,0.191194,never smoked,1
2,0,0.975309,0,1,1,0.50,0,0.234512,0.245655,never smoked,1
3,1,0.592593,0,0,1,0.50,1,0.536008,0.267671,smokes,1
4,1,0.962963,1,0,1,0.75,0,0.549349,0.147161,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,1,0.50,1,0.132167,0.200463,never smoked,0
5106,1,0.987654,0,0,1,0.75,1,0.323516,0.332561,never smoked,0
5107,1,0.419753,0,0,1,0.75,0,0.128658,0.223638,never smoked,0
5108,0,0.617284,0,0,1,0.50,0,0.513203,0.165701,formerly smoked,0
5109,1,0.530864,0,0,1,0.00,1,0.139230,0.172654,Unknown,0

In [219]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.814815,0,1,1,0.50,1,0.801265,0.293163,formerly smoked,1
1,1,0.740741,0,0,1,0.75,0,0.679023,0.191194,never smoked,1
2,0,0.975309,0,1,1,0.50,0,0.234512,0.245655,never smoked,1
3,1,0.592593,0,0,1,0.50,1,0.536008,0.267671,smokes,1
4,1,0.962963,1,0,1,0.75,0,0.549349,0.147161,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,1,0.50,1,0.132167,0.200463,never smoked,0
5106,1,0.987654,0,0,1,0.75,1,0.323516,0.332561,never smoked,0
5107,1,0.419753,0,0,1,0.75,0,0.128658,0.223638,never smoked,0
5108,0,0.617284,0,0,1,0.50,0,0.513203,0.165701,formerly smoked,0
5109,1,0.530864,0,0,1,0.00,1,0.139230,0.172654,Unknown,0

In [220]:
#muc8
mapping = {
    'never smoked': 0,
    'smokes': 1,
    'formerly smoked': 2,
    'Unknown': 3
}

df['smoking_status_numeric'] = df['smoking_status'].map(mapping)
df['smoking_status'] = df['smoking_status_numeric']
# Hiển thị kết quả
print(df)

     gender       age  hypertension  heart_disease  ever_married  work_type  \
0         0  0.814815             0              1             1       0.50
1         1  0.740741             0              0             1       0.75
2         0  0.975309             0              1             1       0.50
3         1  0.592593             0              0             1       0.50
4         1  0.962963             1              0             1       0.75
...     ...       ...           ...            ...           ...        ...
5105      1  0.975309             1              0             1       0.50
5106      1  0.987654             0              0             1       0.75
5107      1  0.419753             0              0             1       0.75
5108      0  0.617284             0              0             1       0.50
5109      1  0.530864             0              0             1       0.00

      Residence_type  avg_glucose_level       bmi  smoking_status  stroke  \
0                  1           0.801265  0.293163               2       1
1                  0           0.679023  0.191194               0       1
2                  0           0.234512  0.245655               0       1
3                  1           0.536008  0.267671               1       1
4                  0           0.549349  0.147161               0       1
...              ...                ...       ...             ...     ...
5105               1           0.132167  0.200463               0       0
5106               1           0.323516  0.332561               0       0
5107               0           0.128658  0.223638               0       0
5108               0           0.513203  0.165701               2       0
5109               1           0.139230  0.172654               3       0

      smoking_status_numeric
0                          2
1                          0
2                          0
3                          1
4                          0
...                      ...
5105                       0
5106                       0
5107                       0
5108                       2
5109                       3

[4994 rows x 12 columns]

XÂY DỰNG MÔ HÌNH

In [221]:
from imblearn.over_sampling import SMOTE #pip install imbalanced-learn

# Tách dữ liệu
X = df.drop('stroke', axis=1)
y = df['stroke']

# Tạo đối tượng SMOTE
smote = SMOTE(random_state=42)

# Áp dụng SMOTE
X_resampled, y_resampled = smote.fit_resample(X, y)

# Kiểm tra kích thước của các lớp sau khi resampling
print(f"Original dataset shape: {y.value_counts()}")
print(f"Resampled dataset shape: {pd.Series(y_resampled).value_counts()}")

Original dataset shape: stroke
0    4746
1     248
Name: count, dtype: int64
Resampled dataset shape: stroke
1    4746
0    4746
Name: count, dtype: int64

In [222]:
# #giảm mẫu lớp ưu thế
# from imblearn.under_sampling import RandomUnderSampler

# # Tạo đối tượng RandomUnderSampler
# rus = RandomUnderSampler(random_state=42)

# # Áp dụng RandomUnderSampler
# X_resampled, y_resampled = rus.fit_resample(X, y)

# # Kiểm tra kích thước của các lớp sau khi resampling
# print(f"Original dataset shape: {y.value_counts()}")
# print(f"Resampled dataset shape: {pd.Series(y_resampled).value_counts()}")

In [223]:
# #Kết hợp cả Oversampling và Undersampling
# from imblearn.combine import SMOTEENN

# # Tạo đối tượng SMOTEENN
# smote_enn = SMOTEENN(random_state=42)

# # Áp dụng SMOTEENN
# X_resampled, y_resampled = smote_enn.fit_resample(X, y)

# # Kiểm tra kích thước của các lớp sau khi resampling
# print(f"Original dataset shape: {y.value_counts()}")
# print(f"Resampled dataset shape: {pd.Series(y_resampled).value_counts()}")

In [224]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,smoking_status_numeric
0,0,0.814815,0,1,1,0.50,1,0.801265,0.293163,2,1,2
1,1,0.740741,0,0,1,0.75,0,0.679023,0.191194,0,1,0
2,0,0.975309,0,1,1,0.50,0,0.234512,0.245655,0,1,0
3,1,0.592593,0,0,1,0.50,1,0.536008,0.267671,1,1,1
4,1,0.962963,1,0,1,0.75,0,0.549349,0.147161,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975309,1,0,1,0.50,1,0.132167,0.200463,0,0,0
5106,1,0.987654,0,0,1,0.75,1,0.323516,0.332561,0,0,0
5107,1,0.419753,0,0,1,0.75,0,0.128658,0.223638,0,0,0
5108,0,0.617284,0,0,1,0.50,0,0.513203,0.165701,2,0,2
5109,1,0.530864,0,0,1,0.00,1,0.139230,0.172654,3,0,3

In [225]:
# Hien
# Kết hợp cả Oversampling và Undersampling để cân bằng dữ liệu 
import pandas as pd
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split


# Tách dữ liệu thành các biến đặc trưng (X) và biến mục tiêu (y)
X = df.drop('stroke', axis=1)
y = df['stroke']

# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Tạo các đối tượng Oversampling và Undersampling
over = SMOTE(sampling_strategy=0.5, random_state=42)  # Tăng cường lớp thiểu số
under = RandomUnderSampler(sampling_strategy=0.8, random_state=42)  # Giảm lớp chiếm ưu thế

# Tạo Pipeline kết hợp Oversampling và Undersampling
pipeline = Pipeline(steps=[('o', over), ('u', under)])

# Áp dụng pipeline trên dữ liệu huấn luyện
X_resampled, y_resampled = pipeline.fit_resample(X_train, y_train)

# Kiểm tra kích thước của dữ liệu sau khi cân bằng
print("Kích thước dữ liệu huấn luyện sau khi cân bằng:")
print(f"X_resampled: {X_resampled.shape}")
print(f"y_resampled: {y_resampled.shape}")

# Xem số lượng mẫu trong mỗi lớp sau khi cân bằng
print("Số lượng mẫu trong từng lớp sau khi cân bằng:")
print(y_resampled.value_counts())

# Kết hợp lại X_resampled và y_resampled để tạo thành một DataFrame hoàn chỉnh
df = pd.DataFrame(X_resampled, columns=X.columns)
df['stroke'] = y_resampled

# Xem trước dữ liệu sau khi cân bằng
df

Kích thước dữ liệu huấn luyện sau khi cân bằng:
X_resampled: (4281, 11)
y_resampled: (4281,)
Số lượng mẫu trong từng lớp sau khi cân bằng:
stroke
0    2378
1    1903
Name: count, dtype: int64

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,smoking_status_numeric,stroke
1064,1.0,0.888889,1,0,1,0.500000,1,0.255101,0.173812,0,0,0
3342,1.0,0.975309,0,0,1,0.750000,1,0.086557,0.259560,0,0,0
3515,1.0,0.012346,0,0,0,1.000000,1,0.303435,0.056779,3,3,0
943,0.0,0.753086,1,1,1,0.500000,0,0.559182,0.270375,0,0,0
2400,0.0,0.296296,0,0,0,0.500000,0,0.189502,0.125145,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5705,0.0,0.938282,0,0,1,0.625100,1,0.376337,0.178997,2,2,1
5706,0.567271,0.782761,1,0,1,0.750000,0,0.059790,0.172253,1,1,1
5707,1.0,0.818564,0,0,1,0.271150,1,0.497983,0.239522,3,3,1
5708,1.0,0.890757,0,0,1,0.500000,1,0.686828,0.206398,0,0,1
5709,0.0,0.708877,0,0,1,0.657823,0,0.132403,0.193090,1,1,1

In [226]:
# xem số người bị đột quỵ trong bảng
dfff = df[df['stroke'] == 1]
print("Số người bị đột quỵ là " ) 
len(dfff)

Số người bị đột quỵ là

1903

In [227]:
# xem số người KHÔNG bị đột quỵ trong bảng
dfff = df[df['stroke'] == 0]
print("Số người KHÔNG bị đột quỵ là " ) 
len(dfff)

Số người KHÔNG bị đột quỵ là

2378

In [228]:
#hien Hồi quy logistic
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
X = df[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']]
y = df['stroke']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Đánh giá mô hình
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.779463243873979
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.79      0.81       507
           1       0.72      0.76      0.74       350

    accuracy                           0.78       857
   macro avg       0.77      0.78      0.77       857
weighted avg       0.78      0.78      0.78       857

In [229]:
#Chau_muc2
#chia bộ dữ liệu thành tập huấn luyện và tập kiểm tra.
from sklearn.model_selection import train_test_split
#import lớp DecisionTreeClassifier từ thư viện scikit-learn. Đại diện cho mô hình cây quyết định.
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
# Chọn các cột làm đặc trưng và nhãn x: đặc trưng y là nhãn
X = df[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']]
y = df['stroke']
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
#loại bỏ cột stroke khỏi df, loại bỏ cột axis=1 nếu axis=0 thì loại bỏ hàng
x=df.drop(['stroke'],axis=1)
#tạo series y chứa các giá trị cột stroke trong df
y=df['stroke']
#tạo mô hình cây quyết định
model=DecisionTreeClassifier()
#huấn luyện mô hình
model.fit(X_train,y_train)
#Dự đoán trên tập kiểm tra
y_pred =model.predict(X_test)
#Đánh giá mô hình
print(classification_report(y_test,y_pred))
print("Độ chính xác của mô hình decision tree là: ", model.score(X_test, y_test)*100,"%")

              precision    recall  f1-score   support

           0       0.89      0.84      0.86       487
           1       0.80      0.86      0.83       370

    accuracy                           0.85       857
   macro avg       0.85      0.85      0.85       857
weighted avg       0.85      0.85      0.85       857

Độ chính xác của mô hình decision tree là:  85.06417736289382 %

In [230]:
#Giang_Muc2

#import thu vien
import numpy as np
import seaborn as sns # mở cmd cài:  pip install seaborn
import matplotlib.pyplot as plt # mở cmd cài:  pip install matplotlib
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix