In [6]:
# Đọc dữ liệu từ tập tin CSV
import pandas as pd

# Đường dẫn đến tập tin CSV
file_path = 'C:\\Users\\Dell\\OneDrive\\Desktop\\BD_DQ\\data_dotquy.csv'
# Đọc dữ liệu từ CSV vào DataFrame
df = pd.read_csv(file_path)
# Hiển thị DataFrame trong VS Code
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [7]:
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [8]:
print("Chau")

Chau

LÀM SẠCH và CHUẨN HÓA DL
- 1 giới tính: loại other
- 2 tuổi: Loại số thực ( vd: 0.1 , 1.56) rồi dùng kỹ thuật Age Grouping
- 3 Đã kết hôn: chuyển về 0 và một
- 4 kiểu làm việc(work_type)
    + kỹ thuật Hashing Encoding
    + kỹ thuật One-Hot Encoding
- 5 vùng sống: chuyển về 0 và một
- 6 BMI  
    + Loại bỏ các hàng hoặc cột có N/A rồi dùng kỹ thuật Binary Encoding
    + dùng kỹ thuật Simple Imputation rồi dùng kỹ thuật tiếp Min-Max Scaling
- 7 smoking_status
  + Loại bỏ các hàng hoặc cột có Unknown rồi dùng kỹ thuật tiếp Min-Max Scaling
  + kỹ thuật Frequency Encoding
- 8 avg_glucose_level (mg/dL)
    DÙNG KỸ THUẬT: Min-Max Scaling
  ******ĐIỀU KIỆN LÀ******
    Người bình thường:
     < 140
    Người Bị tiểu đường:
      >=140

In [9]:
#Kiem tra trung lap
duplicated_rows = df[df.duplicated(subset='id')]
print("So luong du lieu trung lap la:" , len(duplicated_rows))

df = df.dropna()
df = df.applymap(lambda x: x.replace("\n"," ") if isinstance(x, str) else x )

So luong du lieu trung lap la: 0

C:\Users\Dell\AppData\Local\Temp\ipykernel_19932\1264832607.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("\n"," ") if isinstance(x, str) else x )

In [10]:
# Xóa cột mã định danh
df  = df.drop(columns=['id'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   Residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.2+ KB

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [11]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [12]:

# khong tieu
def glucose_normal(value):
    if value < 140:
        return value
    else:
        return 0
normal_data = [glucose_normal(x) for x in df['avg_glucose_level']]
#print(normal_data)

# Calculate min and max values
X_min = min(normal_data)
X_max = max(normal_data)

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in normal_data]
scaled_data
df['glucose_normal'] = scaled_data

In [13]:

# tieu duong
def glucose_classify(value):
    if value >= 140:
        return value
    else:
        return 0

classified_data = [glucose_classify(x) for x in df['avg_glucose_level']]
#classified_data

# Calculate min and max values
X_min = min(classified_data)
X_max = max(classified_data)

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in classified_data]
scaled_data
df['glucose_classify'] = scaled_data

In [14]:
# chuẩn hóa bằng Min-Max Scaling
glucose_values = df['avg_glucose_level']

# Calculate min and max values
X_min = min(df['avg_glucose_level'])
X_max = max(df['avg_glucose_level'])

# Apply Min-Max Scaling
scaled_data = [(x - X_min) / (X_max - X_min) for x in df['avg_glucose_level']]

# Print the original and scaled data
#print(scaled_data)
#df['glucose_normalized_data'] = scaled_data

df['avg_glucose_level'] = scaled_data
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,glucose_normal,glucose_classify
0,Male,67.0,0,1,Yes,Private,Urban,0.801265,36.6,formerly smoked,1,0.000000,0.841577
2,Male,80.0,0,1,Yes,Private,Rural,0.234512,32.5,never smoked,1,0.757112,0.000000
3,Female,49.0,0,0,Yes,Private,Urban,0.536008,34.4,smokes,1,0.000000,0.630124
4,Female,79.0,1,0,Yes,Self-employed,Rural,0.549349,24.0,never smoked,1,0.000000,0.640760
5,Male,81.0,0,0,Yes,Private,Urban,0.605161,29.0,formerly smoked,1,0.000000,0.685251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,0.221402,18.6,Unknown,0,0.736812,0.000000
5106,Female,81.0,0,0,Yes,Self-employed,Urban,0.323516,40.0,never smoked,0,0.894925,0.000000
5107,Female,35.0,0,0,Yes,Self-employed,Rural,0.128658,30.6,never smoked,0,0.593209,0.000000
5108,Male,51.0,0,0,Yes,Private,Rural,0.513203,25.6,formerly smoked,0,0.000000,0.611945
5109,Female,44.0,0,0,Yes,Govt_job,Urban,0.139230,26.2,Unknown,0,0.609578,0.000000

In [15]:
# LOAI GIA TRI TUOI LÀ SO THỤC KHONG NGUYEN
df = df[~df['age'].apply(lambda x: isinstance(x, float) and not x.is_integer())]
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,glucose_normal,glucose_classify
0,Male,67.0,0,1,Yes,Private,Urban,0.801265,36.6,formerly smoked,1,0.000000,0.841577
2,Male,80.0,0,1,Yes,Private,Rural,0.234512,32.5,never smoked,1,0.757112,0.000000
3,Female,49.0,0,0,Yes,Private,Urban,0.536008,34.4,smokes,1,0.000000,0.630124
4,Female,79.0,1,0,Yes,Self-employed,Rural,0.549349,24.0,never smoked,1,0.000000,0.640760
5,Male,81.0,0,0,Yes,Private,Urban,0.605161,29.0,formerly smoked,1,0.000000,0.685251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,0.221402,18.6,Unknown,0,0.736812,0.000000
5106,Female,81.0,0,0,Yes,Self-employed,Urban,0.323516,40.0,never smoked,0,0.894925,0.000000
5107,Female,35.0,0,0,Yes,Self-employed,Rural,0.128658,30.6,never smoked,0,0.593209,0.000000
5108,Male,51.0,0,0,Yes,Private,Rural,0.513203,25.6,formerly smoked,0,0.000000,0.611945
5109,Female,44.0,0,0,Yes,Govt_job,Urban,0.139230,26.2,Unknown,0,0.609578,0.000000

In [16]:
bins = [0, 18, 35, 60, 100]
labels = ['Trẻ em', 'Thanh niên', 'Trung niên', 'Người già']
df['nhóm tuổi'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_19932\2633344820.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nhóm tuổi'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,glucose_normal,glucose_classify,nhóm tuổi
0,Male,67.0,0,1,Yes,Private,Urban,0.801265,36.6,formerly smoked,1,0.000000,0.841577,Người già
2,Male,80.0,0,1,Yes,Private,Rural,0.234512,32.5,never smoked,1,0.757112,0.000000,Người già
3,Female,49.0,0,0,Yes,Private,Urban,0.536008,34.4,smokes,1,0.000000,0.630124,Trung niên
4,Female,79.0,1,0,Yes,Self-employed,Rural,0.549349,24.0,never smoked,1,0.000000,0.640760,Người già
5,Male,81.0,0,0,Yes,Private,Urban,0.605161,29.0,formerly smoked,1,0.000000,0.685251,Người già
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,0.221402,18.6,Unknown,0,0.736812,0.000000,Trẻ em
5106,Female,81.0,0,0,Yes,Self-employed,Urban,0.323516,40.0,never smoked,0,0.894925,0.000000,Người già
5107,Female,35.0,0,0,Yes,Self-employed,Rural,0.128658,30.6,never smoked,0,0.593209,0.000000,Trung niên
5108,Male,51.0,0,0,Yes,Private,Rural,0.513203,25.6,formerly smoked,0,0.000000,0.611945,Trung niên
5109,Female,44.0,0,0,Yes,Govt_job,Urban,0.139230,26.2,Unknown,0,0.609578,0.000000,Trung niên

In [17]:
df['ever_married'] = df['ever_married'].map({'Yes': 1, 'No': 0})
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_19932\2073686083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ever_married'] = df['ever_married'].map({'Yes': 1, 'No': 0})

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,glucose_normal,glucose_classify,nhóm tuổi
0,Male,67.0,0,1,1,Private,Urban,0.801265,36.6,formerly smoked,1,0.000000,0.841577,Người già
2,Male,80.0,0,1,1,Private,Rural,0.234512,32.5,never smoked,1,0.757112,0.000000,Người già
3,Female,49.0,0,0,1,Private,Urban,0.536008,34.4,smokes,1,0.000000,0.630124,Trung niên
4,Female,79.0,1,0,1,Self-employed,Rural,0.549349,24.0,never smoked,1,0.000000,0.640760,Người già
5,Male,81.0,0,0,1,Private,Urban,0.605161,29.0,formerly smoked,1,0.000000,0.685251,Người già
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,0,children,Rural,0.221402,18.6,Unknown,0,0.736812,0.000000,Trẻ em
5106,Female,81.0,0,0,1,Self-employed,Urban,0.323516,40.0,never smoked,0,0.894925,0.000000,Người già
5107,Female,35.0,0,0,1,Self-employed,Rural,0.128658,30.6,never smoked,0,0.593209,0.000000,Trung niên
5108,Male,51.0,0,0,1,Private,Rural,0.513203,25.6,formerly smoked,0,0.000000,0.611945,Trung niên
5109,Female,44.0,0,0,1,Govt_job,Urban,0.139230,26.2,Unknown,0,0.609578,0.000000,Trung niên